body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #402F8F;
    color:white;
}
.site-header {
  display: flex;
  align-items: center;
  margin-top:45px;
   
}
.site-header-logo{
margin-left:145px;
margin: top 43px;

}
.site-header-nav {
  margin-left: 251px;
  margin-right: 201px;
}

.site-header-list {
  display: flex;
  list-style: none;
}

.site-header-item {
  margin-left: 50px;
}

.site-header-link {
  text-decoration: none;
  color:white;
}
.site-header-btn{
width: 132px;
height:42px;
background-image:linear-gradient(180deg, rgb(98, 3, 158),blue) ;
}
.section{
    display: flex;
}
 .div1{
    width: 546px;
    height:348px;
    margin-top:280px ;
    margin-left: 132px;
    position: relative;
}
.div1 h2 {
  width:546px;
  height:168px;
  margin-top:280px;
  margin-left: 132px;
font-size: 58px;
}
 .div1 p{
    width:534px;
    height:59px;
    margin-left:136px;}

.div1 img{
    width:745px;
    height:745px;
    margin-left:678px;
    position:absolute;
}

 .container {
    width: 1, 170;
 width: 90%;
 height:889px;
  margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
}
.container h1{
      text-align: center;
  padding-top: 50px;
  color: white;
  font-size: 42px;
  font-weight: 700;
}
.container  div > h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 500; 
 padding-top: 19px;
 
  color: rgba(255, 255, 255, 1);
}
.container div> p {
  text-align: center;
  margin-top:400px;
  width: 310px;
  height: 52px;
  margin: auto;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.container p {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 100px;
}

.items1 {
    width: 370px;
    height: 336px;
    border-radius: 34px;
    background-color: beige;
    background-image:linear-gradient(180deg, rgb(98, 3, 158),blue) ;
}



.item {
    display: flex;
    align-items: center;
    flex-direction: column;
     background-image:linear-gradient(180deg, rgb(98, 3, 158),blue) ;
}

.items1:hover {
    background-color: #ccc;
    border-radius: 40px;
}

.items2 {
    width: 370px;
    height: 336px;
    border-radius: 34px;
    background-color: beige;
    box-shadow: #0000000D;
    align-items: center;
    justify-content: center;
}

.items3 {
    width: 370px;
    height: 336px;
    border-radius: 34px;
    background-color: beige;
    box-shadow: #0000000D;
}

.items4 {
    width: 370px;
    height: 336px;
    border-radius: 34px;
    background-color: beige;
    box-shadow: #0000000D;
}

.items5 {
    width: 370px;
    height: 336px;
    border-radius: 34px;
    background-color: beige;
    box-shadow: #0000000D;
}

.items6 {
    width: 370px;
    height: 336px;
    border-radius: 34px;
    background-color: beige;
    box-shadow: #0000000D;
    align-items: center;
    justify-content: center; 
} 

.section{ 
    width: 90%;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    align-items: center;
    margin-top: 100px;
}

.box{
    width:270px;
    height: 266px;
    border-radius:40px;
    box-shadow: #0000000D;
     background-image:linear-gradient(180deg, rgb(98, 3, 158),blue) ;
}
.box1  img{
 width:150px;
 height:150px;
}
.box h3{
     color: beige;
    text-align: center;
    margin-bottom:10px;
    margin-top:30PX;
    font-size: 28px;
   
}
.box p{
    font-size:16px;
    color: beige;
    text-align: center;
}
.box img {
    margin:32px 86.4px 0.62px 65px;
} 